  <nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo center">Scrape The Latest Pop Culture News and Gossip</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Get Scraping</a></li>
      </ul>
    </div>
  </nav>