<!DOCTYPE html>
<html lang ="en">
  <head>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    {{!-- Add materialize icon --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
    {{!-- Inserted Google Font Similar to Cosmopolitan --}}
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <title>Scrape the Latest Pop Culture News and Gossip</title>
  </head>
  <body>

    {{> nav}}
    
    <main>
      <div class="container">
        {{{ body }}}
      </div>
    </main>

    {{> footer}}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
<html>